#
#    protobuf - Provides message bus for agents
#
#    Copyright (C) 2014 - 2019 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         protobuf
Section:        libs
Priority:       extra
Maintainer:     42ity Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Vcs-Git: git://git.debian.org/collab-maint/log4cplus.git
Build-Depends: debhelper (>= 9),
        dh-autoreconf,
        pkg-config,
        automake

Package: libprotobuf
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, 
    libprotobuf-22 (= ${binary:Version})
Description: protobuf shared library
 This package contains shared library for protobuf:
 provides protobuf for agents

Package: libprotobuf-22
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
    ${misc:Depends}
Description: protobuf shared library
 This package contains shared library for protobuf:
 provides protobuf for agents

Package: libprotobuf-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libprotobuf-22 (= ${binary:Version})
Description: protobuf development tools
 This package contains development files for protobuf:
 provides protobuf for agents.
 .
 This package contains the header files and static library for 
 developers.

Package: libprotobuf-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
    libprotobuf-22 (= ${binary:Version})
Description: protobuf development tools
 This package contains development files for protobuf:
 provides protobuf for agents.
 .
 This package is provided primarily to provide a backtrace with names
 in a debugger, this makes it somewhat easier to interpret core
 dumps.  Most people will not need this package.
