#!/usr/bin/make -f
# -*- makefile -*-

#export DEB_CXXFLAGS_MAINT_APPEND := --std=c++11
#DEB_HOST_MULTIARCH      := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
#UPSTREAM_VERSION        := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([0-9]*:\)\?\([^~]*\)\(~.*\)\?-.*$$/\2/ p')
#d = $(CURDIR)/debian

# Workaround for automake < 1.14 bug
$(shell dpkg --compare-versions `dpkg-query -W -f='$${Version}\n' automake` lt 1:1.14 && mkdir -p config)
$(shell test -f src/Makemodule-local.am || touch src/Makemodule-local.am)

override_dh_strip:
	dh_strip --dbg-package=libprotobuf-dbg

override_dh_auto_test:
	echo "Skipped for now"

%:
	dh $@ \
		--parallel \
		--with autoreconf
